@use '../../styles/mixin' as mix;
@use '../../styles/var' as *;
@use '../../styles/globals.scss' as *;

* {
    margin: 0;
    padding: 0;
}

.banner {
    position: relative;
    padding-top: 150px;
}

.banner__imagem {
    width: 100%;
}

.banner__texto {
    position: absolute;
    top: 70%;
    left: 10%;
    color: $branco;
}

.banner__texto h1 {
    @include mix.TituloXL;
}

.banner__texto h2 {
    @include mix.TituloX;
}

.banner__texto h3 {
    @include mix.TituloL;
}

.card__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card__img {
    margin-right: 20px;
}

.card__boxEsq {
    flex: 1;
    min-width: 200px;
}

.card__boxDir {
    margin-left: 50px;
    font-size: 16px;
}

.card__boxDir img {
    margin-right: 10px;
}

.title {
    font-size: 28px;
    border-bottom: 2px solid #FFE9BB;
}

.subtitle {
    font-size: 22px;
    font-weight: 700;
}

.itens {
    margin-top: 20px;
    font-size: 22px;
}

.imgWhatsapp {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width:768px){
    .banner__texto h1 {
        @include mix.TituloL;
    }
    
    .banner__texto h2 {
        @include mix.BodyR;
    }
    
    .banner__texto h3 {
        @include mix.BodyR;
    }
}

@media screen and (max-width:520px){
    .banner__texto h1 {
        font-size: $font-size-4;
    }
    
    .banner__texto h2 {
        font-size: $font-size-5;
    }
    
    .banner__texto h3 {
        font-size: $font-size-5;
    }

    .card__box {
        flex-direction: column;
    }

    .card__boxDir {
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}