@use "../../styles/var" as *;
@use "../../styles/mixin" as *;
@use ".././../styles/globals.scss" as *;

.view__container{
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 50px;
}