@use "../../styles/var" as *;
@use "../../styles/mixin" as *;
@use ".././../styles/globals.scss" as *;

@media screen and (max-width: 711px) {
  .publicacao__autor h3 {
    font-size: 15px;
    font-weight: 400;
  }
  .publicacao__autor a {
    color: $dourado-escuro;
    text-decoration: none;
    font-size: 15px;
  }
  .publicacao__post h1 {
    font-size: 17px;
  }
  .publicacao__post p {
    font-size: 14px;
  }

  .public__section2 a {
    font-size: 14px;
  }

  .public__section2 span {
    font-size: 14px;
    color: $cinza-medio;
  }

  .public__section2{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
  }
  .publicacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    height: 231px;
    background-color: $branco-suave;
    font-family: Bralow;
    border-radius: 50px;
    border-top-left-radius: 0;
  }

  .publicacao__autor {
    width: 400px;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0px;

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .publicacao__post {
    width: calc(100% - 252.44px);
    gap: 200px;

    &__section1 {
      &__section2 {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

@include queryDesktop {
  .publicacao__autor h3 {
    font-size: 34px;
    font-weight: 400;
  }
  .publicacao__autor a {
    color: $dourado-escuro;
    text-decoration: none;
    font-size: 31px;
  }
  .publicacao__post h1 {
    font-size: 36px;
  }
  .publicacao__post p {
    font-size: 22px;
  }

  .public__section2 a {
    font-size: 26px;
  }

  .public__section2 span {
    font-size: 20px;
    color: $cinza-medio;
  }

  .public__section2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.publicacao {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  height: 431px;
  background-color: $branco-suave;
  font-family: Bralow;
  margin-left: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  &__autor {
    width: 252.44px;
    height: 441px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &__post {
    width: 1027.56px;
    gap: 200px;

    &__section2 {
      display: flex;
      flex-direction: row !important;
      justify-content: space-between;
    }
  }
}

@include queryTablet {
  .publicacao__autor h3 {
    font-size: 24px;
    font-weight: 400;
  }
  .publicacao__autor a {
    color: $dourado-escuro;
    text-decoration: none;
    font-size: 18px;
  }
  .publicacao__post h1 {
    font-size: 25px;
  }
  .publicacao__post p {
    font-size: 20px;
  }

  .public__section2 a {
    font-size: 17px;
  }

  .public__section2 span {
    font-size: 17px;
    color: $cinza-medio;
  }

  .public__section2{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
  }
  .publicacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 331px;
    background-color: $branco-suave;
    font-family: Bralow;
    margin-left: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    &__autor {
      width: 252.44px;
      height: 431px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 20px;

      &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }

    &__post {
      width: 1027.56px;
      gap: 200px;

      &__section1 {
        &__section2 {
            display: flex;
            flex-direction: row !important;
            justify-content: space-between;
          }
      }
    }
  }
}
