// COLORS
$preto: #161616;
$profundo: #1c1c1c;
$cinza-escuro: #2a2830;
$cinza-medio: #474350;
$cinza: #908E96;
$cinza-claro: #DAD9DC;
$branco-suave: #F4F7F5;
$branco: #FFFFFF;
$dourado-escuro: #CCA045;
$mostarda: #FFC857;
$dourado-pastel: #FFE9BB;


// TYPOGRAPHY
// FONT-SIZE
$font-size-1: 48px;
$font-size-2: 36px;
$font-size-3: 28px;
$font-size-4: 22px;
$font-size-5: 16px; 
     


// CONTAINER