@use "@/styles/_mixin.scss" as mix;
@use "@/styles/_var.scss" as *;

%wrap {
  height: 100%;
  width: 100%;
  max-width: 420px;
  max-height: 370px;
}

.home-content {
  border-top: 2px solid $dourado-escuro;
  padding-top: 24px;
  h1 {
    font-size: 22px;
    line-height: 1.5;
    color: $branco-suave;
    font-weight: 300;
    @extend %wrap;
    span {
      font-weight: 700;
    }
  }
}

.home-sect2{
  width: 100%;
  background-color: $preto;
  padding: 68px 0;
}

.home-sect2-container{
  @include mix.container-Mobile;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: $branco-suave;  
  gap: 16px; 
  h3{
    @include mix.BodyB;
  }
  p{
    @include mix.BodyR;
  }
}


@include mix.queryTablet {
  %wrap{
    max-width: 640px;
    max-height: 590px;
  }
  .home-content {
    h1 {
      @include mix.TituloX;
      span{
        @include mix.TituloXL;
      }
    }
  }

  .home-sect2{
    padding: 80px 0;
  }

  .home-sect2-container{
    @include mix.container-Tablet;
    display: flex;        
    gap: 24px; 
    h3{
      @include mix.TituloS;
      font-weight: 700;
    }
    p{
      @include mix.BodyR;
    }
  }
}
@include mix.queryDesktop {
  %wrap{
    max-width: 636px;
    max-height: 590px;
  }
  .home-content {
    max-width: 600px;
    max-height: 590px;
    h1 {
      @include mix.TituloX;
    }
  }

  .home-sect2{
    padding: 120px 0;
  }

  .home-sect2-container{
    @include mix.container-Tablet;
    display: flex;        
    gap: 32px; 
    h3{
      @include mix.TituloL;
    }
    p{
      @include mix.TituloS;
    }
  }
}