@use "../../styles/var" as *;
@use "../../styles/mixin" as *;

.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $preto-logo;
    width: 100%;
    height: 150px;
    position: fixed; // Fixa o navbar no topo da tela

    &__logo {
        width: 326px;
    }

    &__container {
        display: flex;
        align-items: center;
        position: relative; // Importante para posicionar o conteúdo interno
        margin-right: 22px; // Distância da borda direita
        background-image: url("../../../public/elementBarMenu.svg");
        background-size: cover; // Garante que a imagem cubra todo o container
    }

    &__link {
        display: flex;
        gap: 18px;
    }
    &__custom {
        text-decoration: none;
        font-family: Barlow;
        color: $branco;
        font-size: $font-size-4;
        margin-right: 5px;
    }
    &__custom:hover {
        color: $dourado-pastel;
        font-size: 23px;
        transition-duration: 0.2s;
    }
    

    @media screen and (max-width: 768px) {
        .navbar {
            justify-content: center; // Centraliza os elementos
            height: auto; // Ajusta a altura conforme o conteúdo
        }

        &__container {
            position: absolute;
            left: 22px; // Distância da borda esquerda
            margin-right: 0; // Remove a margem da direita
            background-image: none; // Remove o background-image
        }

        &__logo {
            margin-left: 12%;
        }
    }
}

.modal-content{
    background-color: $preto-logo;
    display: flex;
}
.modal-header{
    background-color: $preto-logo;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; /* Cor de fundo do cabeçalho e rodapé */
    border-bottom: none; /* Remove a borda inferior do cabeçalho e rodapé */
    margin-left: 0px;
}

.close-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    margin-right: -90%;
    margin-bottom: 80px;
}
.modal-body {
    display: flex;
    flex-direction: column; /* Organiza os links em coluna */
    align-items: center; /* Centraliza os links horizontalmente */
}

/* Estilo para os links dentro do modal */
.modal-body a {
    text-decoration: none;
    font-family: Barlow;
    color: $branco;
    font-size: $font-size-4;
    margin-bottom: 10px; /* Espaçamento entre os links */
}

.modal-body a:hover {
    color: $dourado-pastel;
    font-size: 23px;
    transition-duration: 0.2s;
}
.modal-footer{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border-top: none;
    
    
    &__footerMenu{
        display: flex;
        align-items: center;
        gap: 15px;
    }
    
    img{
        position: absolute;
        transform: translateY(-8px)


    }
    a{
        text-decoration: none;
        color: white;
    }
    h1{
        font-size: 20px;
        margin-bottom: 50px;
    }
    h4{
        font-size: 16px;
        margin-bottom: 30px;
        margin-left: 35px;
    }
    
}

.fade {
    opacity: 0.5; /* Define a opacidade como 50% */
    transition: opacity 0.3s linear;
 }
 
 .fade.show {
     opacity: 1; /* Define a opacidade como 100% ao mostrar */
 }
 

@media (min-width: 768px) and (max-width: 1250px) {
    .navbar {
        display: flex;
        text-align: center;
        flex-direction: row-reverse;
        justify-content: center; // Centraliza os elementos
        height: auto; // Ajusta a altura conforme o conteúdo
        &__container {
            position: absolute;
            left: 5%; // Distância da borda esquerda
            margin-right: 0; // Remove a margem da direita
            background-image: none; // Remove o background-image
        }
    
        &__logo {
            margin-left: 0%;
        }
    }
    .modal-header{
        background-color: $preto-logo;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; /* Cor de fundo do cabeçalho e rodapé */
        border-bottom: none; /* Remove a borda inferior do cabeçalho e rodapé */
        margin-left: 0%;
    }

    
}

