@use "../../styles/var" as *;
@use "../../styles/mixin" as *;

.close-button{
    background-color: transparent !important;
    height: 30px;
    border: none;
    cursor: pointer;
    position: absolute;    
    top: 50%;
    transform: translateY(-50%);
    
}

@media screen and (max-width: 711px) {
    header{
        height: 53px;
    }

    .navbar {
        text-decoration: none;
        justify-content: center;
        height: auto;
        background-color: $preto-logo;
        color: $preto-logo;
        width: 100%;
        height: 94px;
        position: fixed !important;
        z-index: 9999;

        button{
            background-color: transparent;
            border: 0px;
        }
    

    &__container {
        position: absolute;
        left: 22px;
        margin-right: 0;
        background-image: none;
                
    }

    &__logo {
        margin: 0 auto;
        width: 94px;
    }
}
}

@include queryDesktop{
    header{
        height: 150px;
    
    .navbar {
        margin: 0 ;
        padding: 0 !important;
        background-color: $preto-logo;
        width: 100%;
        height: 150px;
        position: fixed !important;
        z-index: 9999;

    
        &__logo {
            height: 150px;
        }
    
        &__container {
            display: flex;
            flex-wrap: wrap;
            width: 70.2%;
            background-image: url("../../../public/elementBarMenu.svg");
        }
    
        &__custom {
            text-decoration: none;
            font-family: Barlow;
            color: $branco;
            font-size: 18px;
            margin-right: 1.33%;
        }
    
        &__custom:hover {
            color: $dourado-pastel;
            font-size: 22px;
            transition-duration: 0.2s;
        }
    }
}
}

@include queryTablet{
    header{
        height: 81.71px;
    }
    Link{
        text-decoration: none;
        color: $preto-logo;
    }
    .navbar{
        background-color: $preto-logo;
        width: 100%;
        position: fixed !important;
        z-index: 9999;
        
        button{
            background-color: transparent;
        }
        &__logo {
            height: 81.71px;        
        }
        

        &__container{
            button{
                background-color: transparent;
                border: 0px;
            }
        }
    }

    .close-button{
        background-color: transparent !important;
        height: 30px;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        
    }
}