@use '../../styles/mixin' as mix;

.areaAtuacao h1 {
    @include mix.TituloXL;
    margin-top: 120px;
    margin-left: 150px;
}

.cardbox h2 {
    @include mix.TituloL;
    margin-top: 0;
}

.cardbox p {
    @include mix.BodyR;
}

.cardbox h1, h2 {
    @include mix.TituloXL;
}

.areaAtuacao h1 {
    margin-bottom: 60px;
}

.cardbox {
    display: flex;
    gap: 15px;
    background: linear-gradient(135deg, #FFFFFF, #F4F7F5);
    width: 600px;
    height: 300px;
}

.cardImagem {
    margin-top: 15px;
}

.cardTexto h1, h2{
    margin-top: 30px;
}

.cardTexto button {
    border: none;
    background: none;
}

.botao {
    margin-top: 20px;
}

.imgWhatsapp {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width:700px) {
    .cardbox {
        max-width: 450px;
    }

    .cardTexto h2 {
        @include mix.TituloS;
    }

    .cardTexto p {
        @include mix.BodyR;
    }

    .cardTexto h1 {
        text-decoration: dashed;
        @include mix.TituloL;
    }
}

@media screen and (max-width:468px) {
    .areaAtuacao h1 {
        margin: 50px;
    }

    .cardbox {
        max-width: 300px;
    }
}